# BLAIN Thomas p1601248

# imports

In [6]:
import numpy as np
np.set_printoptions(threshold=10000,suppress=True)
import pandas as pd
import warnings
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

# Partie I

In [7]:
credit = pd.read_csv("credit_scoring.csv", sep=";", header=0)

In [8]:
credit

,Seniority,Home,Time,Age,Marital,Records,Job,Expenses,Income,Assets,Debt,Amount,Price,Status
0,9.0,1.0,60.0,30.0,0.0,1.0,1.0,73.0,129.0,0.0,0.0,800.0,846.0,1
1,17.0,1.0,60.0,58.0,1.0,1.0,0.0,48.0,131.0,0.0,0.0,1000.0,1658.0,1
2,10.0,0.0,36.0,46.0,0.0,2.0,1.0,90.0,200.0,3000.0,0.0,2000.0,2985.0,0
3,0.0,1.0,60.0,24.0,1.0,1.0,0.0,63.0,182.0,2500.0,0.0,900.0,1325.0,1
4,0.0,1.0,36.0,26.0,1.0,1.0,0.0,46.0,107.0,0.0,0.0,310.0,910.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4370,1.0,1.0,60.0,39.0,0.0,1.0,0.0,69.0,92.0,0.0,0.0,900.0,1020.0,0
4371,22.0,0.0,60.0,46.0,0.0,1.0,0.0,60.0,75.0,3000.0,600.0,950.0,1263.0,1
4372,0.0,0.0,24.0,37.0,0.0,1.0,1.0,60.0,90.0,3500.0,0.0,500.0,963.0,0
4373,0.0,1.0,48.0,23.0,1.0,1.0,1.0,49.0,140.0,0.0,0.0,550.0,550.0,1
4374,5.0,0.0,60.0,32.0,0.0,1.0,1.0,60.0,140.0,4000.0,1000.0,1350.0,1650.0,1

In [9]:
X = credit.drop("Status", axis=1)
y = credit.Status

In [10]:
mp = 100 * np.sum(y==0) / len(y)
bp = 100 * np.sum(y==1) / len(y)

print("% Bons payeurs : {0:.2f} % mauvais payeurs : {1:.2f}".format(bp, mp))

% Bons payeurs : 72.21 % mauvais payeurs : 27.79

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=1)

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

DT = DecisionTreeClassifier(criterion="gini", random_state=1) # CARTE
DT.fit(X_train, y_train)
pred = DT.predict(X_test)

pred